*
{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero
{
    position: relative;
    background: black;
    height: 100vh;
    width: 100%;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-top: 45px;
    padding-right: 8%;
}
.logo
{
    color: rgb(255, 255, 255);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
.hero img
{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 150%;
    transform: translateY(-10%);
    border-radius: 50%;
    opacity: 0.4;
}
span
{
    color: #f9004d;
}
nav ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover
{
    color: #f9004d;
    transition: .4s;
}
.btn
{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover
{
    transform: scale(1.2); 
}
.content
{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1
{
    color: #ffffff;
    margin: 20px 0 20px;
    font-size: 45px;
}
h3
{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
h4
{
    color: rgba(122, 69, 122, 0.8);
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form
{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child
{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child
{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #444444;
    top: 6px;
    right: 6px;
}
.about
{
    width: 100%;
    padding: 100px;
    background: #191919;
    background-image: url(img4.jpg);
    background-size: cover;
    background-position: 0%;
}

.about-text
{
    width: 550px;
}
.main
{
    
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2
{
    color: white;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5
{
    color: white;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-size: 22px;
}
.about-text p
{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 45px;
    margin-right: 10px;
    text-align: justify;
}
button
{
    background-color: #f9004d;
    color: white;
    border: 2px solid transparent;
    outline: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    padding: 13px 30px;
    transition: .4s;
}
button:hover
{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.services
{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2
{
    color: white;
    font-size: 45px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}
.card
{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i
{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5
{
    color: white;
    font-size: 23px;
    margin-bottom: 15px; 
}
.pra p
{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button
{
    background-color: #f9004d;
    color: white;
    border: 2px solid transparent;
    outline: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    padding: 9px 22px;
    transition: .4s;
}
.card .button:hover
{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.contact-us
{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-us p
{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-us .button-two
{
    background-color: #f9004d;
    color: white;
    border: 2px solid transparent;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    padding: 13px 30px;
    transition: .4s;
}
.contact-us .button-two:hover
{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
footer
{
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer p:first-child
{
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}
footer p:nth-child(2)
{
    color: white;
    font-size: 17px;
    width: 500px;
    align-items: center;
    line-height: 26px;
}
.media
{
    display: flex;
    flex-direction: row;
}
.media a
{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.media a:hover
{
    transform: scale(1.3);
    transition: .3s;
}
.designer
{
    position: absolute;
    color: #2c2b2b;
    bottom: 1%;
    right: 1%;
}

/*LEADERS                                           */
.body
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010;
}
.leaders
{
    width: 100%;
    padding: 39.9px 0;
}
.about-leaders
{
    margin: 0 40px;
}
.leadersCard
{
    border-radius: 25px;
    background-color: #2c2b2b;
    width: 320px;
}
.image-content, .leadersCard-content
{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-content
{
    position: relative;
    row-gap: 5px;
}
.overlay
{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(0, 0, 0);
}
.leaadersCard-image
{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: transparent;
    padding: 3px;
}
.leaadersCard-image .leadersCard-img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #f9004d;
    cursor: pointer;
}
.leaadersCard-image:hover
{
    transform: scale(1.2);
}
.leaderName
{
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
}
.leaderDescription
{
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    color: #a5a5a5;
}
.leaders-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}